<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="index.css">
<head>
	<title>注册</title>
</head>
<body background="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=685957598,1539114744&fm=11&gp=0.jpg">
		<h1>按要求完成注册信息的填写</h1>
		<div style="width:100%;text-align:center;margin:150px auto;">
			<form action="{:url('index/Userc/register')}" method="POST">
				username:<input type="text" name="username"><br>
				password:<input type="password" name="password"><br>
				email&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:<input type="text" name="email"><br>
				<input type="submit" name="submit" value="注册">
				<div>
						<a href="index.html" >返回登录</a>
				</div>
			</form>
		</div>
		
</body>
</html>